:root {
  /* --Синий-- */
  --esey-blue: #81b3d2;
  --blue: #669ec0;
  --hard-blue: #5496bd;

  /* --Серый-- */
  --esey-gray: #f2f2f2;
  --gray: #ebebeb;
  --hard-gray: #a9a9a9;

  --html-gray: #888888;

  /* --Коричневый-- */
  --esey-brown: #766357;
  --brown: #604e43;
  --hard-brown: #503e33;

  --black: #000000;
  --white: #ffffff;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: PT Sans, "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--black);
}
a.disabled {
  pointer-events: none;
  cursor: default;
}

a.active {
  pointer-events: none;
  cursor: default;
  color: var(--esey-brown);
}

img {
  max-width: 100%;
  height: auto;
}

.non-visible {
  visibility: hidden;
  display: none;
  margin: 0;
  padding: 0;
}

/* --Grids-- */

.page {
  height: 100%;
  background-color: var(--esey-gray);
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  width: 1200px;
  margin: auto;

  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* --MainMenu-- */

.main-menu {
  height: 56px;

  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.main-menu-nav {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
  width: 1055px;
  padding: 0;
  margin: 0 0 0 73px;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
.main-menu-nav li {
  margin-top: 15px;
}

.main-list-photo {
  margin: 0 0 0 -285px;
}

.main-list-map {
  margin: 0 -270px 0 0;
}

.main-logo {
  position: absolute;
  margin: 0 0 0 531px;
}

.main-menu-nav a:not([href]) {
  background-color: var(--basic-black);
}

.main-menu-nav a {
  color: var(--black);
}

.main-menu-nav a:hover {
  color: var(--esey-blue);
}
.main-menu-nav a:active {
  opacity: 0.3;
}

.main-menu-nav .activ-page {
  color: var(--esey-brown);
}

/*---------------images--------------------*/
.welcome {
  background-image: url(../img/bg-mainpage.png);
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 509px;
  display: grid;
  grid-template-rows: 1fr min-content;
  align-content: start;
  background-color: var(--hard-brown);
}

.BG_decorate {
  margin-bottom: 0px;
}

.welcome-img {
  justify-self: center;
  margin-top: 77.35px;
}

.welcome::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  background-image: url(../img/bottom.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 509px;
}

/* --------------------------------------- */

.tagline {
  display: grid;
  grid-template-rows: min-content min-content;
}

.tagline-head {
  justify-self: center;
  width: 470px;
  height: 80px;

  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  margin-top: 42.5px;
  margin-bottom: 18.5px;
}
.tagline p {
  margin: 0;
  justify-self: center;
}

/*-----------------------------------------*/
.item-1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 53px;
  color: var(--white);
  background-color: var(--esey-blue);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.city-description {
  flex-grow: 1;
  width: 400px;
  min-height: 256px;
}

.city-description h2 {
  text-align: center;
  width: 122px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.city-description p {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
}

.city-img {
  flex-grow: 2;
}

/*-----------------------------------------*/
.description {
  min-height: 244px;
  padding-top: 84px;
}

.description-list {
  margin: 0px 0px 0px 10px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.description-block-2 {
  margin-left: 6px;
}

.description-blocks {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 82px;
}
.description-blocks p {
  width: 385px;
}
.description-blocks h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 26px;
}

.description-block-1 h3::after {
  content: " ";
  position: absolute;
  background-image: url(../img/icon/home.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
  margin-left: -70px;
  margin-top: -100px;
}

.description-block-2 h3::after {
  content: " ";
  position: absolute;
  background-image: url(../img/icon/eat.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
  margin-left: -56px;
  margin-top: -100px;
}

.description-block-3 h3::after {
  content: " ";
  position: absolute;
  background-image: url(../img/icon/box.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 77px;
  margin-left: -91px;
  margin-top: -104px;
}

/*-----------------------------------------*/
.item-2 {
  display: flex;
  flex-wrap: wrap;
  color: var(--white);
  background-color: var(--esey-blue);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
  margin-top: -15px;
}

.devil-img {
  flex-grow: 2;
}

.devil-description {
  flex-grow: 1;
  width: 400px;
  min-height: 256px;
}

.item-2 h2 {
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.item-2 p {
  width: 305px;
  margin-top: 29px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------------*/
.item-3-4-5 {
  display: grid;
  color: var(--black);
  background-color: var(--gray);
  min-height: 256px;
}
.item-3-4-5_list {
  display: flex;
  flex-wrap: wrap;
  margin: -18px 0 -13px 0;
  padding: 0 0 0 20px;
  justify-content: space-around;
  list-style: none;
}
.item-3-4-5_list li {
  text-align: center;
  margin-top: 47px;
  margin-bottom: 54px;
}

.item-3-4-5_list li:nth-child(2) {
  margin-left: 20px;
}

.item-3-4-5 h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.item-3-4-5 p {
  margin-top: 29px;
}

/*-----------------------------------------*/

.appointment-text {
  margin-top: 57px;
  text-align: center;
}
.appointment-text-2 {
  margin-top: 26px;
  line-height: 1.9;
  text-align: center;
}

.appointment-text strong {
  font-weight: bold;
  font-size: 30px;
  line-height: 21px;
  text-align: center;
}

/*-- Кнопки --*/
button {
  font: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.open-button {
  height: 86px;
  width: 568px;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--esey-brown);
  border: none;
  margin: 28px auto 0 316px;
}

.open-button:hover {
  background-color: var(--brown);
}

.open-button:active {
  background-color: var(--hard-brown);
  color: rgba(255, 255, 255, 0.3);
}

/*-- Форма отправки --*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form {
  width: 568px;
  position: relative;
  margin-left: -284px;
  margin-bottom: -396px;
  left: 50%;
  top: 0px;
  background-color: var(--white);
}

.form-visible {
  display: block;
}

.form-non-visible {
  display: none;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.form-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.form-block {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  display: grid;

  grid-template-columns: 229px 229px;
  grid-template-rows: 38px 38px 38px 58px;
  row-gap: 27.9px;
  padding: 55px;
  height: 285px;
}

.form-element {
  line-height: 26px;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
}

.form-element b {
  margin: auto 0 auto 0;
}

.data1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin-bottom: 4px;
}

.data2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.name1 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin-top: 3px;
}

.name2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-top: 3px;
}

.name2 b {
  margin-left: 50px;
}

.send-button {
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--esey-blue);
  border: none;
  height: 58px;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  margin-top: 29px;
}

.send-button:hover {
  background-color: var(--blue);
}

.send-button:active {
  background-color: var(--hard-blue);
  color: rgba(255, 255, 255, 0.3);
}

.data1_in,
.data2_in {
  width: 331px;
  height: 38px;
  padding-left: 13px;
  color: var(--black);
}

.name2_in,
.name1_in {
  width: 38px;
  height: 38px;
  margin-right: 38px;
  text-align: center;
}

.calendar-button {
  position: absolute;
  margin-top: 6px;
  margin-left: 27px;
  width: 21px;
  height: 23px;
  background-image: url(../img/icon/calendar.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  left: 456px;
}

.calendar-button-2 {
  top: 123px;
}

.calendar-button:hover {
  background-image: url(../img/icon/calendarhov.svg);
}

.calendar-button:active {
  background-image: url(../img/icon/calendar-act.svg);
}

.form-element input {
  font: inherit;
  background-color: var(--esey-gray);
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.form-element input:hover {
  background-color: var(--gray);
}
.form-element input:focus {
  background-color: var(--white);
  border: 2px solid var(--esey-gray);
}

.plus,
.minus {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--esey-gray);
  height: 38px;
  width: 38px;
  cursor: pointer;
  top: 190px;
}
.plus {
  background-image: url(../img/icon/union-btn.svg);
  margin-left: 191px;
}

.minus {
  background-image: url(../img/icon/minus.svg);
  margin-left: 115px;
}

.minus2,
.plus2 {
  left: 284px;
}

.plus:hover {
  background-color: var(--gray);
  background-image: url(../img/icon/union-hov.svg);
}

.minus:hover {
  background-color: var(--gray);
  background-image: url(../img/icon/minus-hov.svg);
}

.plus:active {
  background-color: var(--gray);
  background-image: url(../img/icon/union-act.svg);
}

.minus:active {
  background-color: var(--gray);
  background-image: url(../img/icon/minus-act.svg);
}

.map {
  margin: 0 0 -120px 0;
}

.map iframe {
  padding: 0;
  margin: 0;
}

/*-- Футер --*/

.main-footer {
  z-index: 1;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact {
  text-align: center;
  margin: 0 0px 0 73px;
  line-height: 34px;
}
.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list li {
  margin: auto 3px auto 3px;
}

.htmlacademy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 73px 0 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo-svg {
  margin: 4px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-button {
  background-color: var(--esey-blue);
  color: inherit;
  height: 48px;
  width: 46px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  background-color: var(--blue);
}

.social-button:active {
  background-color: var(--hard-blue);
}

.social-button:active path {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-logo-svg path {
  fill: var(--black);
}

.footer-logo-a:hover .footer-logo .footer-logo-svg-2 path {
  fill: var(--blue);
}

.footer-logo-a:checked .footer-logo .footer-logo-svg-2 path {
  opacity: 0.3;
}

/*-----------------------*/
/*-------HotelPage-------*/
/*-----------------------*/

.hotel-hidden {
  display: none;
  visibility: hidden;
  height: 0px;
  padding: 0;
}

.filtr {
  height: 217px;
  width: 1200px;
  color: var(--white);
  background-color: var(--blue);
  background-image: url("../img/bg-hotelpage.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -37px;
}

/* --grid_for_filtrs-- */

.filters-form-style {
  display: grid;
  grid-template-columns: 300px 300px 600px;
  margin-top: 36.5px;
}

.filtr-list_1 {
  grid-column: 1 / 2;
  margin: 0 0 0 72px;
}

.filtr-list_2 {
  grid-column: 2 / 3;
  margin: 0 0 0 27px;
}

.filtr-list_3 {
  grid-column: 3 / 4;
  margin: 0 0 0 210px;
  width: 317px;
}

.filtr-list-hidden {
  font-weight: bold;
  font-size: 16px;
  margin: 26.5px 0 24.5px 0;
}

/* --Custom_checkbox-- */

.option {
  display: block;
  margin-bottom: 25px;
}
.check {
  padding-left: 40px;
}

.check-input {
  position: absolute;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-left: -40px;
  width: 27px;
  height: 23px;
  background-image: url(../img/icon/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check-input:checked + .check-box {
  background-image: url(../img/icon/checkbox-on.svg);
  background-repeat: no-repeat;
}

/* ------------------- */
.check-list {
  margin: 0 0 0 0;
}

.price-block-start,
.price-block-end {
  width: 50%;
  display: flex;
  justify-content: center;
}
.price-block-form {
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 2px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -14px;
}

.price-block-start-in,
.price-block-end-in {
  margin-top: -1px;
  max-width: 45px;
  height: 20px;
  display: inline-block;
  background: none;
  border: none;
  text-align: left;
  vertical-align: top;
  color: var(--white);
}

.price-block-start label {
  margin: 0 0 0 40px;
}
.price-block-end label {
  margin: 0 0 0 20px;
}

.price-block-start::-moz-placeholder,
.price-block-end::-moz-placeholder {
  color: var(--white);
}

.range-controls {
  position: relative;
  height: 20px;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background-color: var(--white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon/filter-button.svg);
  padding: 0;
}

.range-controls .toggle:hover {
  transform: scale(1.3);
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 253px;
}

.price-block-start {
  border-right: 2px solid var(--white);
}

.show {
  display: block;
  font-weight: normal;
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 2px;
  height: 36px;
  width: 137px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 36px;
  padding-right: 35px;
  margin: 15px 97px 0 auto;
}

.show:hover {
  color: var(--black);
  background: var(--white);
}

.sorting {
  padding: 0 73px 0 73px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sorting-text {
  margin: 0px 39px 0px 0px;
  padding: 0;
}

.sorting-list li {
  display: block;
  margin-top: 31px;
  margin-bottom: 31px;
}

.found {
  margin-top: -2px;
  margin-right: 47px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/*-----------------------------------------*/

.sorting {
  border-bottom: 1px solid var(--gray);
}

.sorting-button {
  border-bottom: 1px dashed var(--esey-blue);
  color: var(--esey-brown);
  margin-right: 33px;
}

.sorting-button:hover {
  color: var(--esey-blue);
}

.sorting-button:focus {
  color: var(--black);
}

.active {
  pointer-events: none;
  cursor: default;
  color: var(--esey-blue);
  border-bottom: none;
}

.arrow-block {
  margin-top: 37px;
}

.arrow-block a {
  margin: 0 0 0 8px;
}

.arrow path:hover {
  fill: var(--black);
}

.arrow path:focus {
  fill: var(--esey-blue);
}

.active-arrow path {
  fill: var(--esey-blue);
}

/*-----------------------------------------*/

.list-block {
  border-bottom: 1px solid var(--gray);
}

.block-hotel {
  list-style: none;

  display: grid;
  grid-template-columns: max-content 1fr max-content;

  margin-top: 30px;
  margin-bottom: 24px;
  margin-left: 73px;
  margin-right: 73px;
  padding: 0;
  min-height: 90px;
}

.hotel-name-list {
  display: grid;
  grid-template-columns: 110px 142px;
  column-gap: 6px;
  margin-left: 29px;
}
.hotel-name-list a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  grid-column: 1 / 3;
  margin: -6px 0 -12px 0;
}

.hotel-name-list a:hover {
  color: var(--esey-blue);
}

.hotel-name-list a:active {
  opacity: 0.3;
}

.rating-list {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.star-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.star {
  margin-left: 5px;
}

.rating {
  background: var(--esey-gray);
  width: 110px;
  text-align: center;
  padding: 3px;

  margin: 0 -5px 6px 0;
}

.rating-block {
  margin: 0 0 0 auto;
  grid-row: 3 / 4;
}

.button-hotels {
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  height: 27px;
  padding-left: 17px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -5px;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.button-about {
  background: var(--esey-blue);
  color: var(--white);
  border: none;
}

.button-checked {
  background: var(--esey-brown);
  color: var(--white);
  border: none;
}

.button-about:hover {
  background: var(--blue);
}

.button-checked:hover {
  background: var(--brown);
}

.button-about:active {
  background: var(--hard-blue);
  color: var(--hard-gray);
}

.button-checked:active {
  background: var(--hard-brown);
  color: var(--hard-gray);
}
