:root {
  /* --Синий-- */
  --esey-blue: #81b3d2;
  --blue: #669ec0;
  --hard-blue: #5496bd;

  /* --Серый-- */
  --esey-gray: #f2f2f2;
  --gray: #ebebeb;
  --hard-gray: #a9a9a9;

  --html-gray: #888888;

  /* --Коричневый-- */
  --esey-brown: #766357;
  --brown: #604e43;
  --hard-brown: #503e33;

  --black: #000000;
  --white: #ffffff;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}



/* --Grids-- */

.page {
  height: 100%;
  background-color: var(--esey-gray);
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  width: 1200px;
  margin: auto;

  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* --MainMenu-- */

.main-menu {
  height: 56px;

  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.main-menu-nav {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
  width: 1055px;
  padding: 0;
  margin: 0 0 0 73px;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.main-menu-nav li {
  margin-top: 15px;
}
.main-logo {
  order: 3;
  margin-right: 147px;
  z-index: 1;
}

.main-list-info {
  order: 1;
  margin-right: 134px;
}
.main-list-photo {
  order: 2;
  margin-right: 133px;
}
.main-list-map {
  margin-right: 147px;
  order: 4;
}
.main-list-hotels {
  order: 5;
}

.main-menu-nav a:not([href]) {
  background-color: var(--basic-black);
}

.main-menu-nav a {
  color: var(--black);
}

.main-menu-nav a:hover,
.main-menu-nav a:focus {
  color: var(--esey-blue);
}
/*---------------images--------------------*/
.welcome {
  background-image: url(../img/BG_mainpage.png);
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 509px;
  display: grid;
  grid-template-rows: 1fr min-content;
  align-content: start;

  height: 100%;
}

.BG_decorate {
  
  margin-bottom: 0px;
}

.welcome-img {
  justify-self: center;
  margin-top: 77.35px;
}

.welcome::before {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  background-image: url(../img/bottom.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 509px;

}

/* --------------------------------------- */

.tagline {
  display: grid;
  grid-template-rows: min-content min-content;
}

.tagline-head {
  justify-self: center;
  width: 470px;
  height: 80px;
  
  line-height: 26px;
  align-items: center;
  text-align: center;
  margin-top: 42.5px;
  margin-bottom: 16.5px;
}
.tagline p {
  margin: 0;
  justify-self: center;
}

/*-----------------------------------------*/
.item-1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 53px;
  color: var(--white);
  background-color: var(--esey-blue);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.city-description {
  flex-grow: 1;
  width: 400px;
  height: 256px;
}

.city-description h2 {
  text-align: center;
  width: 122px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.city-description p {
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
}

.city-img {
  flex-grow: 2;
}

/*-----------------------------------------*/
.description {
  height: 244px;
  padding-top: 86px;
}

.description-list {
  margin: 0px 0px 0px 10px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.description-block-2 {
  margin-left: 6px;
}

.description-blocks {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 82px;
}

.description-blocks h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 26px;
}

.description-block-1 h3::after {
  content: " ";
  position: absolute;
  background-image: url(../img/icon/home.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
  margin-left: -70px;
  margin-top: -100px;
}

.description-block-2 h3::after {
  content: " ";
  position: absolute;
  background-image: url(../img/icon/eat.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
  margin-left: -56px;
  margin-top: -100px;
}

.description-block-3 h3::after {
  content: " ";
  position: absolute;
  background-image: url(../img/icon/box.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 77px;
  margin-left: -91px;
  margin-top: -104px;
}



/*-----------------------------------------*/
.item-2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
  color: var(--white);
  background-color: var(--esey-blue);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.devil-img {
  flex-grow: 2;
}

.devil-description {
  flex-grow: 1;
  width: 400px;
  height: 256px;
}

.item-2 h2 {
  text-align: center;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.item-2 p {
  width: 305px;
  margin-top: 29px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------------------------*/
.item-3-4-5 {
  display: grid;
  color: var(--black);
  background-color: var(--gray);
  height: 256px;
}
.item-3-4-5_list {
  display: flex;
  flex-wrap: wrap;
  margin: -18px -40px 0 0;
  padding: 0px 42px 0 20px;
  justify-content: space-around;
  list-style: none;
}
.item-3-4-5_list li {
  text-align: center;
  margin-top: 47px;
  margin-bottom: 54px;
}

.item-3-4-5_list li:nth-child(2) {
  margin-left: 20px;
}

.item-3-4-5 h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.item-3-4-5 p {
  margin-top: 29px;
}

/*-----------------------------------------*/
.appointment {
  text-align: center;
}

.appointment-text {
  margin-top: 55px;
  line-height: 1.9;
}

.appointment-text strong {
  font-weight: bold;
  font-size: 30px;
  line-height: 21px;
}

/*-- Кнопки --*/
button {
  font: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.open-button {
  height: 86px;
  width: 568px;
  margin-top: 27px;
  margin-bottom: 473px;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--esey-brown);
  border: none;
}

.open-button:hover,
.open-button:focus,
.open-button:active {
  background-color: var(--brown);
}

/*-- Форма отправки --*/

::-webkit-textfield-decoration-container { }
::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

::-webkit-datetime-edit { display: none; }
::-webkit-datetime-edit-fields-wrapper { display: none; }
::-webkit-datetime-edit-text { display: none; }
::-webkit-datetime-edit-month-field { display: none; }
::-webkit-datetime-edit-day-field { display: none; }
::-webkit-datetime-edit-year-field { display: none; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { display: none; }

.form {
  margin-top: -473px;
  z-index: 2;
  width: 568px;
  position: absolute;
  margin-left: -284px;
  left: 50%;
  background-color: var(--white);
}

.form-block {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  display: grid;

  grid-template-columns: 114px 114px 114px 114px;
  grid-template-rows: 38px 38px 38px 58px;
  row-gap: 29px;
  padding: 55px;
  height: 285px;
}

.data1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 7px 26px 0px 0;
}

.data1_in {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

.data1_in::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 23px;
  background-image: url(../img/icon/calendar.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 483px;
}

.data2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 10px 26px 0px 0;
  width: 91px;
}

.data2_in::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 23px;
  background-image: url(../img/icon/calendar.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 483px;
}

.data2_in {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.name1 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: 11px 41px 0px 0;
}

.name1_in {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.name2 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  margin: 11px -25px 0px 0;
}

.name2_in {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.form_elements {
  height: 38px;
}

.form-block input {
  font: inherit;
  background-color: var(--esey-gray);
  border: none;
}
.form-block input:hover {
  background-color: var(--gray);
}
.form-block input:focus {
  background-color: transparent;
  border: 2px solid var(--esey-gray);
}

.plus {
  position: relative;
  background-image: url(../img/icon/Union.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 11px;
  width: 11px;

  right: -92px;
  top: -139px;
}

.minus {
  position: relative;
  background-image: url(../img/icon/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 3px;
  width: 12px;

  right: -129px;
  top: -136px;
}



.send-button {
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--esey-blue);
  border: none;
  height: 58px;
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  margin-top: 25px;
}

.send-button:hover,
.send-button:focus,
.send-button:active {
  background-color: var(--blue);
}

.map {
  position: absolute;
  margin-top: -470px;
  z-index: 1;
}
/*-- Футер --*/

.main-footer {
  height: 120px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact {
  text-align: center;
  margin: 0 0px 0 73px;
  line-height: 34px;
}
.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-list li {
  margin: auto 3px auto 3px;
}

.htmlacademy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 73px 0 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo-svg {
  margin: 4px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-button {
  background-color: var(--esey-blue);
  color: inherit;
  height: 48px;
  width: 46px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-button:hover {
  background-color: var(--blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-logo-svg path {
  fill: var(--black);
}

.footer-logo-a:hover .footer-logo .footer-logo-svg path {
  fill: var(--blue);
}


/*-----------------------*/
/*-------HotelPage-------*/
/*-----------------------*/

.hotel-hidden {
  visibility: hidden;
  height: 0px;
  margin: -14px;
  padding: 0;
}

.filtr {
  height: 217px;
  width: 1200px;
  color: var(--white);
  background-color: var(--blue);
  background-image: url("../img/BG-hotelspage.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* --grid_for_filtrs-- */

.filters-form-style {
  display: grid;
  grid-template-columns: 300px 300px 600px;
  margin-top: 36.5px;
}

.filtr-list_1 {
  grid-column: 1 / 2;
  margin-left: 72px;
}

.filtr-list_2 {
  grid-column: 2 / 3;
  margin-left: 27px;
}

.filtr-list_3 {
  grid-column: 3 / 4;
}

.filtr-list-hidden {
  font-weight: bold;
  font-size: 16px;
}

/* --Custom_checkbox-- */

.option {
  display: block;
  margin-bottom: 25px;
}
.check {
  padding-left: 43px;
}

.check-input {
  position: absolute;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-left: -43px;
  width: 27px;
  height: 23px;
  background-image: url(../img/icon/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check-input:checked + .check-box {
  background-image: url(../img/icon/checkbox-on.svg);
  background-repeat: no-repeat;
}

/* ------------------- */
.check-list {
  margin: 0 0 0 0;
}

.price {
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 2px;
}

.show {
  font-weight: normal;
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 2px;
}

.show:hover {
  color: var(--black);
  background: var(--white);
}

.sorting {
  padding: 0 73px 0 73px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sorting-text {
  margin: 0px 39px 0px 0px;
  padding: 0;
}

.sorting-list li {
  display: block;
  margin-top: 31px;
  margin-bottom: 31px;
}

.found {
  margin-top: -2px;
  margin-right: 47px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/*-----------------------------------------*/

.sorting {
  border-bottom: 1px solid var(--gray);
}



.sorting-button {
  border-bottom: 1px dashed var(--esey-blue);
  color: var(--esey-brown);
  margin-right: 33px;
}

.sorting-button:hover {
  color: var(--esey-blue);
}

.sorting-button:focus {
  color: var(--black);
}

.active {
  pointer-events: none;
  cursor: default;
  color: var(--esey-blue);
  border-bottom: none;
}

.arrow-block {
  margin: auto 0px auto 12px;
}

.arrow path:hover {
  fill: var(--black);
}

.arrow path:focus {
  fill: var(--esey-blue);
}

.active-arrow path {
  fill: var(--esey-blue);
}

/*-----------------------------------------*/

.list-block {
  border-bottom: 1px solid var(--gray);
}

.block-hotel {
  list-style: none;

  display: grid;
  grid-template-columns: max-content 1fr max-content;

  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 73px;
  margin-right: 73px;
  padding: 0;
  height: 90px;
}

.hotel-name-list {
  display: grid;
  grid-template-columns: 110px 142px;
  column-gap: 6px;
  margin-left: 29px;

  margin-top: -6.5px;
}
.hotel-name-list h2 {
  grid-column: 1 / 3;
  margin: 0;
}
.hotel-name-list p {
  margin-top: 7px;
}
.rating-list {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.star-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.button-hotels {
  padding-left: 17px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.button-about .button-checked {
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.button-about {
  background: var(--esey-blue);
  color: var(--white);
  border: none;
}

.button-checked {
  background: var(--esey-brown);
  color: var(--white);
  border: none;
}

.button-about:hover {
  background: var(--blue);
}

.button-checked:hover {
  background: var(--brown);
}

.button-about:focus {
  background: var(--hard-blue);
  color: var(--hard-gray);
}

.button-checked:focus {
  background: var(--hard-brown);
  color: var(--hard-gray);
}

.rating {
  background: var(--esey-gray);
  width: 110px;
  text-align: center;
  padding: 3px;
  grid-row: 3 / 4;
  margin: 0;
}
