:root {
  /* --Синий-- */
  --esey-blue: #81b3d2;
  --blue: #669ec0;
  --hard-blue: #5496bd;

  /* --Серый-- */
  --esey-gray: #f2f2f2;
  --gray: #ebebeb;
  --hard-gray: #a9a9a9;

  --html-gray: #888888;

  /* --Коричневый-- */
  --esey-brown: #766357;
  --brown: #604e43;
  --hard-brown: #503e33;

  --black: #000000;
  --white: #ffffff;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: PT Sans;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

/* --MainMenu-- */

.main-menu {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--black);
  background-color: transparent;
}

.main-menu-wrapper {
  background-color: var(--white);
}

.main-menu-nav {
  list-style: none;
}

.main-menu-nav a:not([href]) {
  background-color: var(--basic-black);
}

.main-menu-nav a {
  color: var(--black);
}

.main-menu-nav a:hover,
.main-menu-nav a:focus {
  color: var(--esey-blue);
}
/*-----------------------------------------*/
.item-1 {
  color: var(--white);
  background-color: var(--blue);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.item-1 h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

/*-----------------------------------------*/
.description ul {
  list-style: none;
}

.description li {
  text-align: center;
}

.description h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}
/*-----------------------------------------*/
.item-2 {
  color: var(--white);
  background-color: var(--blue);
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.item-2 h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

/*-----------------------------------------*/
.item-3-4-5 {
  color: var(--black);
  background-color: var(--gray);
}
.item-3-4-5 ul {
  list-style: none;
}
.item-3-4-5 li {
  text-align: center;
}

.item-3-4-5 h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

/*-----------------------------------------*/
.appointment {
  text-align: center;
}

.appointment p:first-child {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

/*-- Кнопки --*/
button {
  font: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.open-button {
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--esey-brown);
  border: none;
}

.open-button:hover,
.open-button:focus,
.open-button:active {
  background-color: var(--brown);
}

/*-- Форма отправки --*/

.form-block {
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.form-block input {
  font: inherit;
  background-color: var(--esey-gray);
  border: none;
}
.form-block input:hover {
  background-color: var(--gray);
}
.form-block input:focus {
  background-color: transparent;
  border: 2px solid var(--esey-gray);
}

.send-button {
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--esey-blue);
  border: none;
}

.send-button:hover,
.send-button:focus,
.send-button:active {
  background-color: var(--blue);
}

/*-- Футер --*/

.main-footer {
  background: rgba(255, 255, 255, 0.9);
  color: var(--black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.main-footer ul {
  list-style: none;
}
.social {
  background-color: var(--esey-blue);
}

.social:hover {
  background-color: var(--blue);
}

.footer-logo-svg path {
  fill: var(--black);
}

.footer-logo-svg path:hover {
  fill: var(--blue);
}

/*-----------------------*/
/*-------HotelPage-------*/
/*-----------------------*/

.hotel-hidden{
  visibility: hidden;
}

.filtr {
  color: var(--white);
  background-color: var(--blue);
  background-image: url("../img/BG-hotelspage.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.filtr-list-hidden {
  font-weight: bold;
  font-size: 16px;
}

.price {
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 2px;
}

.show {
  font-weight: normal;
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 2px;
}

.show:hover {
  color: var(--black);
  background: var(--white);
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-list {
  list-style: none;
}

.found {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

/*-----------------------------------------*/

.sorting {
  border-bottom: 1px solid var(--gray);
}

.sorting-button {
  border-bottom: 1px dashed var(--esey-blue);
  color: var(--esey-brown);
}

.sorting-button:hover {
  color: var(--esey-blue);
}

.sorting-button:focus {
  color: var(--black);
}

.active {
  pointer-events: none;
  cursor: default;
  color: var(--esey-blue);
  border-bottom: none;
}

.arrow path:hover {
  fill: var(--black);
}

.arrow path:focus {
  fill: var(--esey-blue);
}

.active-arrow path{
  fill: var(--esey-blue);
}

/*-----------------------------------------*/

.list-block {
  border-bottom: 1px solid var(--gray); 
}

.block-hotel {
  list-style: none;
}

.button-about
.button-checked {
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.button-about {
  background: var(--esey-blue);
  color: var(--white);
  border: none;
}

.button-checked {
  background: var(--esey-brown);
  color: var(--white);
  border: none;
}

.button-about:hover {
  background: var(--blue);
}

.button-checked:hover {
  background: var(--brown);
}

.button-about:focus {
  background: var(--hard-blue);
  color: var(--hard-gray);
}

.button-checked:focus {
  background: var(--hard-brown);
  color: var(--hard-gray);
}

.rating {
  background: var(--esey-gray);
}